label {
  font-weight: 600;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.half-width {
  width: 50%;
}

.scope {
  border: 10px solid rgb(10, 30, 10);
  border-radius:200px;
}

.smallScope {
  width: 200px;
  height: 200px;
}

.ADSRGraph {
  width: 200px;
  height: 150px;
}

.moduleContainer {
  display: flex;
}

.module {
  height: 250px;
  width: 400px;
  border-radius: 5px;
  border: 5px solid #888;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin: 10px;
}

.module .tag {
  color: #fff;
  background-color: #888;
  position: absolute;
  margin: 0 auto;
  top: -5px;
  font-weight: 600;
  letter-spacing: 1;
  border:5px solid #888;
  border-radius: 5px;
}

.osc {
  width: 400px;
}

.attackLabel {
  color: #c00;
}

.decayLabel {
  color: #0a0;
}

.sustainLabel {
  color: #00d;
}

.releaseLabel {
  color: #b0b;
}

