.inline-block {
  display: inline-block;
}

.half-width {
  width: 50%;
}

.scope {
  border: 10px solid rgb(10, 30, 10);
  border-radius:200px;
}

.module {
  border-radius: 5px;
  border: 5px solid #888;
  padding: 20px;
}

.osc {
  width: 500;
  height: 300;
}
